<styles>
  .message-content{
    font-family: Arial, Helvetica, sans-serif;
    max-widt: 600px;
    font-seize: 18px;
    line:height: 21px
  }
</styles>
<div>
  <p>Ola, {{name}}</p>
  <p>Parace que uma troca des senha foi solicitada para sua conta.</p>
  <p>Caso tenha sido voce clique no link abaixo para redefinir a senha</p>
  <p>
    <a href="{{link}}">Resertar a senha</a>
  </p>
  <p>Se nao foi voce, por favor ignore esse e-mail.</p>
  <p>
    Obrigado!</br>
    <strong>Equipe GoBarber</strong>
  </p>
</div>
